USE [master]
GO
/****** Object:  Database [CMSBBDD]    Script Date: 29/05/2024 11:53:56 ******/
CREATE DATABASE [CMSBBDD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CMSBBDD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CMSBBDD.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CMSBBDD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CMSBBDD_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CMSBBDD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CMSBBDD]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 29/05/2024 11:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileTable]    Script Date: 29/05/2024 11:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nchar](100) NULL,
	[Type] [nchar](50) NULL,
	[Path] [nchar](1000) NULL,
	[IdPublication] [int] NULL,
 CONSTRAINT [PK_FileTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LastModificationTable]    Script Date: 29/05/2024 11:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LastModificationTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCreator] [int] NULL,
	[Publication] [nvarchar](max) NOT NULL,
	[LastModification] [datetime] NOT NULL,
	[Modification] [nchar](20) NOT NULL,
 CONSTRAINT [PK_LastModificationTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostingTables]    Script Date: 29/05/2024 11:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostingTables](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileId] [int] NULL,
	[PublicationId] [int] NOT NULL,
 CONSTRAINT [PK_PostingTables] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PublicationTable]    Script Date: 29/05/2024 11:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicationTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nchar](200) NOT NULL,
	[Concept] [nvarchar](max) NOT NULL,
	[PublicationDate] [date] NOT NULL,
	[IdUser] [int] NULL,
	[IsPost] [bit] NULL,
 CONSTRAINT [PK_PublicationTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleTable]    Script Date: 29/05/2024 11:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nchar](20) NOT NULL,
 CONSTRAINT [PK_RoleTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 29/05/2024 11:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](100) NOT NULL,
	[Email] [nchar](100) NOT NULL,
	[Password] [nchar](500) NULL,
	[IdRole] [int] NULL,
	[Salt] [nvarchar](max) NULL,
	[IdClient] [int] NULL,
	[IsActivated] [bit] NOT NULL,
 CONSTRAINT [PK_UserTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_FileTable_IdPublication]    Script Date: 29/05/2024 11:53:57 ******/
CREATE NONCLUSTERED INDEX [IX_FileTable_IdPublication] ON [dbo].[FileTable]
(
	[IdPublication] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LastModificationTable_IdCreator]    Script Date: 29/05/2024 11:53:57 ******/
CREATE NONCLUSTERED INDEX [IX_LastModificationTable_IdCreator] ON [dbo].[LastModificationTable]
(
	[IdCreator] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PostingTables_FileId]    Script Date: 29/05/2024 11:53:57 ******/
CREATE NONCLUSTERED INDEX [IX_PostingTables_FileId] ON [dbo].[PostingTables]
(
	[FileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PostingTables_PublicationId]    Script Date: 29/05/2024 11:53:57 ******/
CREATE NONCLUSTERED INDEX [IX_PostingTables_PublicationId] ON [dbo].[PostingTables]
(
	[PublicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PublicationTable_IdUser]    Script Date: 29/05/2024 11:53:57 ******/
CREATE NONCLUSTERED INDEX [IX_PublicationTable_IdUser] ON [dbo].[PublicationTable]
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserTable_IdClient]    Script Date: 29/05/2024 11:53:57 ******/
CREATE NONCLUSTERED INDEX [IX_UserTable_IdClient] ON [dbo].[UserTable]
(
	[IdClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserTable_IdRole]    Script Date: 29/05/2024 11:53:57 ******/
CREATE NONCLUSTERED INDEX [IX_UserTable_IdRole] ON [dbo].[UserTable]
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FileTable] ADD  DEFAULT ((0)) FOR [IdPublication]
GO
ALTER TABLE [dbo].[PostingTables] ADD  CONSTRAINT [DF__PostingTa__Publi__0C50D423]  DEFAULT ((0)) FOR [PublicationId]
GO
ALTER TABLE [dbo].[PublicationTable] ADD  CONSTRAINT [DF__Publicati__Title__3A4CA8FD]  DEFAULT (N'') FOR [Title]
GO
ALTER TABLE [dbo].[PublicationTable] ADD  CONSTRAINT [DF__Publicati__Publi__3B40CD36]  DEFAULT ('0001-01-01') FOR [PublicationDate]
GO
ALTER TABLE [dbo].[RoleTable] ADD  DEFAULT (N'') FOR [Role]
GO
ALTER TABLE [dbo].[UserTable] ADD  CONSTRAINT [DF__UserTable__Name__7C4F7684]  DEFAULT (N'') FOR [Name]
GO
ALTER TABLE [dbo].[UserTable] ADD  CONSTRAINT [DF__UserTable__Email__7D439ABD]  DEFAULT (N'') FOR [Email]
GO
ALTER TABLE [dbo].[UserTable] ADD  CONSTRAINT [DF__UserTable__Passw__7B5B524B]  DEFAULT (N'') FOR [Password]
GO
ALTER TABLE [dbo].[UserTable] ADD  CONSTRAINT [DF__UserTable__IdRol__6754599E]  DEFAULT ((0)) FOR [IdRole]
GO
ALTER TABLE [dbo].[UserTable] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActivated]
GO
ALTER TABLE [dbo].[FileTable]  WITH NOCHECK ADD  CONSTRAINT [FK_FileTable_PublicationTable] FOREIGN KEY([IdPublication])
REFERENCES [dbo].[PublicationTable] ([Id])
ON UPDATE SET DEFAULT
GO
ALTER TABLE [dbo].[FileTable] NOCHECK CONSTRAINT [FK_FileTable_PublicationTable]
GO
ALTER TABLE [dbo].[PostingTables]  WITH CHECK ADD  CONSTRAINT [FK_PostingTables_FileTable_FileId] FOREIGN KEY([FileId])
REFERENCES [dbo].[FileTable] ([Id])
GO
ALTER TABLE [dbo].[PostingTables] CHECK CONSTRAINT [FK_PostingTables_FileTable_FileId]
GO
ALTER TABLE [dbo].[PostingTables]  WITH CHECK ADD  CONSTRAINT [FK_PostingTables_PublicationTable_PublicationId] FOREIGN KEY([PublicationId])
REFERENCES [dbo].[PublicationTable] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostingTables] CHECK CONSTRAINT [FK_PostingTables_PublicationTable_PublicationId]
GO
ALTER TABLE [dbo].[UserTable]  WITH CHECK ADD  CONSTRAINT [FK_UserTable_RoleTable] FOREIGN KEY([IdRole])
REFERENCES [dbo].[RoleTable] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[UserTable] CHECK CONSTRAINT [FK_UserTable_RoleTable]
GO
ALTER TABLE [dbo].[UserTable]  WITH CHECK ADD  CONSTRAINT [FK_UserTable_UserTable] FOREIGN KEY([IdClient])
REFERENCES [dbo].[UserTable] ([Id])
GO
ALTER TABLE [dbo].[UserTable] CHECK CONSTRAINT [FK_UserTable_UserTable]
GO
USE [master]
GO
